/* Contoh kustomisasi */
#hero {
    padding: 100px 0;
    background-color: #59636d; /* Warna latar belakang */
}

.card {
    margin-bottom: 20px;
}

img.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}